


body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}






/* ``````````````````````````````````````` NAVBAR ```````````````````````````````````````` */
nav{

  display: flex;
  flex-direction: column;

  background-color: #bccb2f;
  color:white;
/* margin-left: auto;
  margin-right: auto; */
}


/* This is the white text in the top left that says T.Cooks Tennis Racquets */
.name-logo{
  font-size: 30px;

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* This is the little racket logo */
.logoImage{
  width: 100px;
  height: 100px;
}


/* This is the container for all of the tabs Home - Shop All - Racquets - Tennis Balls - Attire */
.navbar-items{
  display: flex;

  align-items: flex-start;
  flex-direction: column;
}


/* Simply gives the tabs no bullet points */
ul{
  list-style-type: none;
}


/* This changes the color of the tabs text to white and makes it look like normal font not links */
.nav-link{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}



  /* when focused and hovered over will change to grey background and white font give oval backgrounds */
  .nav-tabs > a:hover{
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;

    /* adds padding to the top and bottom of the background color to resemble a button */
    padding: 5px 10px;

  }

  /* focused the tabs will change the same as the hover */
.nav-tabs > a:focus{
  background-color: #2d2d2d;
  color: white;
  font-size: 20px;

  /* adds padding to the top and bottom of the background color to resemble a button */
  padding: 5px 10px;    
}
/* ````````````````````````````````````````````````````````````````````````````````````````` */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
  background-color: #7EA0C5;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION IN HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* this is the container for the section that holds the H1 the smaller black text and the green button */
.call-to-action-section{
  background-color: #7EA0C5;
  display: flex;
  padding: 0 30px 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* This holds all of the text items in the section */
.section-text-items{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  order: 2;
  width: 400px;

  font-size: 20px;
}


/* This is the white h1 header that says Buy the best preforming tennis racquets */
.section-header{
  padding: 10px 0;
  margin: 0;
  color: white;
}


/* This is the smaller text in black */
.section-subtext{
  padding-bottom: 25px;
  margin: 0;
}


/* This is the green BUY NOW button */
.buy-now-button{
  align-self: flex-start;
  text-decoration: none;
  background-color: #bccb2f;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/* Changes the color and background to inverse when hovered and focused on */
.buy-now-button:hover, .buy-now-button:focus{
  background-color: #ffffff;
  color: #bccb2f;
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}


/* This is the container for the picture that to the right */
.section-pic-div{
  display: flex;
  align-self: center;
  order: 1;
}

/* This controls the actual picture */
.section-pic{
  width: 400px;
  height: 250px;
  padding: 20px 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/








/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* this is the container for the three small pictures under the header */
.three-pics-container{
  display: flex;
  justify-content: space-evenly;

  margin: 0;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* this gives padding to all of the 3 pictures  */
.main-pics{
  padding: 10px 0;
}


/* PICTURES */
.Wilson-racket{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 183, 111);

}


.tennis-ball{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(0, 128, 255);
}
.tennis-skirt{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(255, 108, 108);
}


.three-pics-header{
}

.three-pics-paragraph{
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */






/* #################################### 4 Pic SECTION ############################################### */

/* This is the container for the 4 pics of racquets  */
.four-rackets-section{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}


/* This is the div that has the Top Selling Racquets Text */
.four-rackets-header-section{
  display: flex;
  justify-content: center;
  flex-direction: row;
  order: 1;
  padding: 40px 0 20px ;
}

/* This is the actual text for the Top Selling Racquets Div */
.four-rackets-header{
  align-self: center;
  text-decoration: underline;
}


.racket-name-header{

}


/* The container for all the Pictures Names and Prices */
.racket-containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

/* The actual racquet Pictures */
.racket-pics{
  width: 170px;
  height: 400px;
  padding: 20px;
  background-color:#d9dfe6;

}

/* adds padding to the bottom to spread pics out on phones */
.racket-price{
  padding-bottom: 55px;
}


/* racket PICS */
.Babolat{
}
.Wilson-Prostaff{
}
.Head-Gravity-Pro{
}
.Yonex-Ezone{
}
/* ################################################################################################## */





/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ FOOTER $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* The text in the footer */
.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer{
  background-color: #718FB1;
  padding: 1px;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */









@media only screen and (min-width:600px){
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION IN HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.call-to-action-section{
  flex-direction: row;
  order: 1;
  padding: 0 30px;
}

.section-pic-div{
  order: 2
}

.section-pic{
  /*
  width: 450px;
  height: 315px;
  */

  width: 400px;
  height: 250px;
}

/* ```````````````````````````````````````` NAVBAR ```````````````````````````````````````` */
  
  nav{
    flex-direction: row;
    padding: 0 30px;
  }
  

.navbar-items{
  flex-direction: column;

  margin-left: 50px;
  margin-right: 50px;

  align-items: center;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````` */




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.three-pics-container{
  flex-direction: row;
}

/* centers the tennis ball pic */
.tennis-ball-img{
  padding-right: 50px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* #################################### 4 Pic SECTION ############################################### */

.four-rackets-section{
  flex-direction: row;
  flex-wrap: wrap;
}



}














@media only screen and (min-width:900px){


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION IN HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.call-to-action-section{
  flex-direction: row;
  order: 1;
  padding: 0 30px;
}

.section-pic-div{
  order: 2
}

.section-pic{
  /*
  width: 450px;
  height: 315px;
  */

  width: 500px;
  height: 300px;
}

/* ```````````````````````````````````````` NAVBAR ```````````````````````````````````````` */
  nav{
    flex-direction: row;
    padding: 0 30px;
  }
  

.navbar-items{
  flex-direction: row;
    /* makes it go to the right of the screen */
    margin-left: auto;

    align-items: center;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````` */




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.three-pics-container{
  flex-direction: row;
}

/* centers the tennis ball pic */
.tennis-ball-img{
  padding-right: 50px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* #################################### 4 Pic SECTION ############################################### */

.four-rackets-section{
  flex-direction: row;
  flex-wrap: wrap;
}

}







@media only screen and (min-width:1200px){


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
  display: flex;
  background-color: lightcyan;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! SECTION IN HEADER !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.call-to-action-section{
  flex-direction: row;
  order: 1;
  padding: 0 30px;

}

.section-text-items{
  font-size: 30px;
}

.section-pic-div{
  order: 2;

}

.section-pic{
  /*
  width: 500px;
  height: 335px;
  */

  width: 700px;
  height: 435px;
}


/* ```````````````````````````````````````` NAVBAR ```````````````````````````````````````` */
nav{
  flex-direction: row;
  padding: 0 30px;
}


.navbar-items{
  flex-direction: row;

    /* makes it go to the right of the screen */
    margin-left: auto;

    align-items: center;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````` */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.three-pics-container{
  flex-direction: row;
}

/* centers the tennis ball pic */
.tennis-ball-img{
  padding-right: 50px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



/* #################################### 4 Pic SECTION ############################################### */

.four-rackets-section{
  flex-direction: row;

}

}
