
/* **************************** COLORS FOR 70's LOOK ********************************* */

body{
  background-color: #f6dbac;
}

.picture-of-me{
  background-color: #efbb4a;
}

.ranken{
  background-color: #df3b30;
}

.explore-text{
  background-color: #259fa4;
}

/* **************************** COLORS FOR 70's LOOK ********************************* */











/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ VIDEO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* holds the video */
.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;

  @media(min-width: 600px) {
    height: 100vh;
  }
}


/* the actual css for the video */
video {
  object-fit: cover; 
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


/* This is a screenshot of the video but allows me to add a image map over the buttons to do things */
.record_pic_transparent{
  opacity: 0;
}


* {
  box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ VIDEO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */











/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER TEXT ON VID !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* This changes the top text that is on the home page That greets viewer*/
h1 {
  text-transform: uppercase;
  font-weight: 900;

  padding: 0;
 
  font-family: 'Shrikhand', cursive;
  /* font-family: Futura, Helvetica, sans-serif;  */
  font-size: 8vw;

  text-shadow: 2px 2px 0px #ffffff, 3.5px 3.5px 0px #000000;


  /* pushes the main text to the right side of screen to allow user to see record */
  padding-left: 190px;


}



/* when the screen is above the smallest size sets The header text shadow accordingly */
@media screen and (min-width: 600px) {

h1 {
  font-size: 6vw;
  text-shadow: 5px 5px 0px #ffffff, 8px 8px 0px #000000;
  }
}

/* this is the container for the heading text on the video by default makes it go to the center of the screen */
.callout {
  position: relative;
  display: flex;
  height: 100%;
  text-align: center;
  z-index: 10;
  position: relative;

  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;


  margin-left: 25px;
  margin-right: 25px;

  color: #E63E23;



  /* centers the main text in the middle of the record video */
  padding-top: 70px;

}


/* when the screen is above the smallest size sets text to go to the right side of screen */
@media screen and (min-width: 600px) {
  .callout {
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 100px;
  }
}


/* this is the lil explanation about me under header text gets font and different shadow */
.underHeader{
  font-family: 'Shrikhand', cursive;
  text-shadow: 2px 2px 0px #000000, 2.5px 2.5px 0px #000000;
  color: #ffffff;
  word-spacing: 3px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER TEXT ON VID !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */








/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LINKS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */



/* This is the container for the links sets them to the bottom right and adjusts position */
.support {
  position: fixed;
  bottom: 85px;
  right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: right;

  position: relative;
  z-index: 10;

}

/* links text and fancy transition for hover */
.support a {
  box-shadow: inset 0 0 0 0 #F0A91A;
  color: #60C3A7;

  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

/* when focused or hovered over does transition */
.support a:hover, .support a:focus {
  box-shadow: inset 150px 0 0 0 #E63E23;
  color: #FFFF;
}

/* when the screen is above the smallest size sets links to be bigger */
@media screen and (min-width: 600px) {
  .support {
    bottom: 135px;
    font-size: 15px;
  }
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LINKS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */










/* <!-- ########################################## BACK AND FOURTH SECTIONS ################################### --> */

/* for some reason there is like 10px of margin on the right side of screen creating a scroll bar this removes bar */
/*
body{
  overflow-x: hidden
}
*/

/* This is code that applies to both the pictures */
.both-pics{
  width: 694;
  height: 837;

  padding-left: 25px;
  padding-right: 25px;
}

/* code for both sets of text next to the pictures */
.both-texts{
  font-size: 4vw;
  font-family: 'Fredoka', sans-serif;

  text-align: center;
  
  color: #f6dbac;

  padding-left: 50px;
  padding-right: 50px;
}



.picture-of-me-text{
  color: #df3b30;
}

.ranken-text{
  color: #efbb4a;
}   



  /* only adds padding to the pic of me when small */
.me-in-snow{
  padding-top: 30px;
  
}


.ranken-pic{
  /* only adds padding to the ranken pic when small */
  padding-bottom: 30px;
}




/* when the screen is above the smallest size sets links to be bigger */
@media screen and (min-width: 600px) {

  /* When screen is big adds padding to all sides of the pics */
  .both-pics{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;

    /* makes them the same size on bigger screens */
    width: 1000px;

  }

  /* Makes text the correct size when bigger */
  .both-texts{

    padding-left: 85px;
    padding-right: 85px;



    font-size: 2vw;
  }

}
/* <!-- ########################################## BACK AND FOURTH SECTIONS ################################### --> */



/* The text at the very bottom of screen gains all attributes of above text code  */
.explore-text{
  padding-bottom: 30px;

  /* gets rid of margin at bottom */
  margin-bottom: -50px;
}








/*   <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Footer %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% --> */
footer{
  background-color: #60C3A7;
}

.copyright{
  background-color: #00000033
}
/*   <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% Footer %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% --> */
