




/* ``````````````````````````````````````````` NAV ``````````````````````````````````````````` */
.nav-header-name a{
  font-size: 30px;

  
  text-shadow: 0 1px 0px #eb452b, 1px 0 0px #efa032, 1px 2px 1px #46b59b, 2px 1px 1px #017e7f, 2px 3px 2px #052939, 3px 2px 2px #c11a2b, 3px 4px 2px #eb452b, 4px 3px 3px #efa032, 4px 5px 3px #46b59b, 5px 4px 2px #052939, 5px 6px 2px #c11a2b, 6px 5px 2px #eb452b, 6px 7px 1px #efa032, 7px 6px 1px #46b59b, 7px 8px 0px #017e7f, 8px 7px 0px #052939;
  color: #69DCE1;
}

.active{
  text-decoration: underline;
}


header{
  font-size: 20px;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````````` */





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.jumbotron{
  background: url("pictures/retro-styled-wavy-wallpaper-design-free-vector.jpg") no-repeat  center ;
  max-width: 100%;
  height: auto;


  /* this makes the picture span the whole screen and shrinks and expands with screen */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;



  color: #ffffff;
  padding: 50px 0 30px;

  text-shadow: 0 1px 0px #7ea3ac, 1px 0 0px #7ea3ac, 1px 2px 1px #7ea3ac, 2px 1px 1px #7ea3ac, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
  color: #ffffff;
  

}



.jumbotron-header{

  font-size: 70px;
  padding: 30px;

}

.stop-by{
  padding: 30px;
}

/* ICONS */
.jumbo-icons{
  font-size: 30px;
  padding: 30px;
}

.jumbo-icons a{
  color:rgb(255, 255, 255);
}

.icon{
  padding: 0 5px;
}

.icon:hover{
  font-size: 45px;
  color:#69DCE1;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */








/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 3 COLUMNS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.three-columns{
  padding: 20px;
}


.description{
  font-size: 25px;

}

.paragraph{

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> */
footer{
  margin-top: 50px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> */








@media screen and (min-width: 1200px){
  /* ``````````````````````````````````````````` NAV ``````````````````````````````````````````` */
.nav-header-name a{
  font-size: 60px;
  color: #69DCE1;
}


header{
  font-size: 25px;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````````` */
  

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.jumbotron-header{

  font-size: 100px;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 3 COLUMNS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.three-columns{
  padding: 0px 20px;

}

.three-columns-header{
  font-size: 70px;
}

.description{
  font-size: 30px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}