
/* **************************** COLORS FOR 70's LOOK ********************************* */
body{
  background-color: #f6dbac;
}

/* adds the background picture for the navbar */
nav{
  background-image: url("pictures/record_label_pic/70s-bold-multicolor-stripes-retro-wallpaper-mural-Plain-scaled.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.first-cafe-telegraph{
  background-color: #176e82;
}

.new-cafe-telegraph{
  background-color: #E63E23;
}

.first-portfolio{
  background-color: #efbb4a;
}

.new-portfolio{
  background-color: #259fa4;
}

/* **************************** COLORS FOR 70's LOOK ********************************* */









/* ~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar-brand h1{
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 0 1rem;
  padding: 0;
  line-height: 1;
  font-family: 'Shrikhand', cursive;
  /* font-family: Futura, Helvetica, sans-serif;  */
  font-size: 6vw;
  
  color: #E63E23;
  text-shadow: 2px 2px 0px #000000, 4px 4px 0px #000000;    
  
}

@media screen and (min-width: 600px) {
  /* makes the shadow bigger to fit the bigger font */
  .navbar-brand h1{
    text-shadow: 5px 5px 0px #000000, 8px 8px 0px #000000;
    }
}







.nav-item{
text-transform: uppercase;



font-family: 'Shrikhand', cursive;  
font-size: 20px;

color: #E63E23;
}
/* N~~~~~~~~~~~~~~~~~~ NAVBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~ */






/* This changes the top text that is on the home page */
h1 {
text-transform: uppercase;
font-weight: 900;
margin: 0 0 1rem;
padding: 0;
line-height: 1;
font-family: 'Shrikhand', cursive;
/* font-family: Futura, Helvetica, sans-serif;  */
font-size: 6vw;

color: rgb(0, 0, 0);

text-shadow: 2px 2px 0px #ffffff, 3.5px 3.5px 0px #000000;
}



/* when the screen is above the smallest size sets The header text shadow accordingly */
@media screen and (min-width: 600px) {

h1 {
  text-shadow: 5px 5px 0px #ffffff, 8px 8px 0px #000000;
  }
}













/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ CARDS OF MY WORK $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* for some reason there is like 10px of margin on the right side of screen creating a scroll bar this removes bar */
body{
  overflow-x: hidden
}


.card{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Fredoka', sans-serif;
}


.card-img-top {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  width: auto;
}

.card-text{
  font-size: 4vw;
}

@media screen and (min-width: 600px) {

  .card{
    margin-left: 50px;
    margin-right: 50px;
  }

  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: fill;
    width: auto;
  }

  .card-text{
    font-size: 2vw;
  }

}



/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ CARDS OF MY WORK $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */














/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% MODAL &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/*
#259fa4  #176e82  #df3b30  #e4722b  #efbb4a #E63E23

*/



.modal-title{
  font-size: 4vw;
}

.modal-header { 

  padding: 12px 30px;
  overflow: hidden;
  background: #E63E23;
}

.modal-content{
  background-color: #f6dbac;
  border: 5px solid black;
}








.btn {
  font-family: 'Shrikhand', cursive; 

  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;

  font-size: 4vw;

  color: #f6dbac;
  background-color: #176e82;
  text-shadow: 1px 1px 0px #000000, 2px 2px 0px #000000;
}

/* makes the font size for the button fit the screen better */
@media screen and (min-width: 600px) {
  .btn{
    font-size: 2vw;
  }

}








.btn:last-child {
  margin: 50px;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0 #259fa4;
  background-color: #f6dbac;
  border: 3px solid #176e82;
  color: black;
  text-shadow: 1px 1px 0px #ffffff, 2px 2px 0px #ffffff;
  transform: translate(-0.4rem, -0.4rem);
}

.btn:active {
  box-shadow: 0 0 0 #000000;

  transform: translate(0, 0);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% MODAL &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

























footer{
  background-color: #60C3A7;
}

.copyright{
  background-color: #00000033
}







