/*  */

*{
}

#EVERYTHING{ /* MAKES IT LOOK LIKE ITS FOR A PHONE DELETE FOR A REAL WEB LOOK */
}

html{
  height: 100% 

} 

body{
  min-height: 100vh; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f5f5;

}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header{
  /* Allows the header to scroll with the page */
  position: sticky;
  top: 0;

  /* Gives this the top priority when scrolling  */
  z-index: 1;


  background-color: #f5f5f5;
  color: black;
  text-align: center;

  /* gives some more color to the bottom to allow links to have some more room */
  padding-bottom: 10px;

  border: 3px solid black;
}


#headerName{
  font-size: 50px;
  text-align: center;
  margin: 20px;

  /* spaces out all the letters by 2px */
  letter-spacing: 2px;
}


.menu, #mapLocation{
  margin: 0 50px 0 50px;
  font-size: 40px;
  text-align: center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! LINKS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.links{
  text-decoration: none;
  color: black;
}

.links:visited {
  text-decoration: none;
  
}

.links:hover{
  color: #8fd8ff;
  text-decoration: underline;
}

.links:focus{
  background-color: black;
  color: #8fd8ff;
  text-decoration: underline;

}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! end of LINKS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ JUMBOTRON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
main{
  text-align: center;
  padding: 10px 0 50px 0;
  background-color: #a9a9a9;

  
  border: 3px solid black;
  border-top: 0;

}

#jumbotronName{
  margin: 20px 0 150px 0;
}

#callLink, #mapLink{
  font-size: 40px;
  text-align: center;
  margin: 0 100px 100px 100px;
}



#jumbotron{
  background-image: url(pictures/CafeTelegraphLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  

}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ end of JUMBOTRON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */







/* ######################################### MENU #################################################### */
#menuItemsDIV{
  position: relative;
  text-align: center;
  background-color: #FFC8BE;

  border: 3px solid black;
  border-top: 0;
}


.menuItems{
  text-align: center;
  
}

#Appetizers{
  background-color: #E4FBFF;

}

#Sandwiches{
  background-color: #FFE8E4;

  

}

#Pizza{
  background-color: #E4FBFF;

}

#Desserts{
  background-color: #FFE8E4;
}
/* ####################################### end of MENU ####################################### */




/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ MAP $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

#map{
  background-color: #a9a9a9;
  padding: 10px 0;

  border: 3px solid black;
  border-top: 0;
  
}

#interactableMAP{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ end of MAP $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% FOOTER %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

#copyright{
  background-color: rgb(43, 43, 43);
  border: 2px solid black;
  border-top: 0;

}

#copyrightTEXT{
  text-align: center;
  color: white;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% end of FOOTER %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



