/*  */

*{
  /*    border: 1px solid black;    */
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  margin-bottom: 5%;
}

h1{
  font-size: 100px;
  text-align: center;


  /* k. Add a font shadow      Use a rgba color value   */
  text-shadow: 1px 1px         rgba(255, 0, 0, 10); ;
  margin-bottom: 0;
}


/* h. Use a child selector */
#mainPBPic > img{
  /* Centers the image */
  display: block;
  margin-left: auto;
  margin-right: auto;

  /* Allows the picture to resize when changing browser */
  max-width: 50%;
  height: auto;


}

/*  f. descendent selector */
#gear-gun img{
  /* Allows the picture to resize when changing browser */
  max-width: 50%;
  height: auto;
  float:left;
  margin-left: 5%;

}



#gear-airtank img{
  max-width: 20%;
  height: auto;
  float:right;
  margin: 0 5% 0 5%;

}

/* g.  Use multiple selectors */
.gearText, .links{
  text-shadow: 1px 1px #4EC5F1 ;


  font-size: 50px;
  margin-left: 10%;
  margin-bottom: 0;
}

/* g.  Use multiple selectors */
#planetEclipse ,#empireAirTankText {
  margin: 0 16.3% 0 5%;
    /* k. Add a font shadow  Use a rgb color value   */
  text-shadow: 1px 1px        rgb(255, 95, 192);
}



/* j. Use the shorthand font property to change all of the following: font family,
size, style, weight, and line height  */
.description{
    /*  size  style  weight line height       font family         */
  font: 16px italic normal normal       Arial, Helvetica, sans-serif ;
  margin: 0 10% 0 10%;
  
}


/* i.  Use a pseudo-class selector to style your links with the same :hover and
:focus */

.linksBox{
  margin: 0 5% 0 5%;
}

.links{
  text-decoration: none;
}

.links:visited {
  text-decoration: none;
}

.links:hover{
  color: hotpink;
  text-decoration: underline;
}

.links:focus{
  background-color: #4EC5F1;
  color: hotpink;
  text-decoration: underline;

}