





/* ``````````````````````````````````````````` NAV ``````````````````````````````````````````` */
.nav-header-name a{
  font-size: 30px;

  
  text-shadow: 0 1px 0px #eb452b, 1px 0 0px #efa032, 1px 2px 1px #46b59b, 2px 1px 1px #017e7f, 2px 3px 2px #052939, 3px 2px 2px #c11a2b, 3px 4px 2px #eb452b, 4px 3px 3px #efa032, 4px 5px 3px #46b59b, 5px 4px 2px #052939, 5px 6px 2px #c11a2b, 6px 5px 2px #eb452b, 6px 7px 1px #efa032, 7px 6px 1px #46b59b, 7px 8px 0px #017e7f, 8px 7px 0px #052939;
  color: #69DCE1;
}

.active{
  text-decoration: underline;
}


header{
  font-size: 20px;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````````` */





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header-logo-pic{

  max-width: 100%;
  height: auto;


  /* ALLOWS THE PNG SALE AD TO HAVE TEXT SHADOW */
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
  filter: drop-shadow(5px 5px 5px #000000);
}




.jumbotron{
  background-image: url("pictures/record-70s-background-jumbotron.jpg");
  max-width: 100%;
  height: auto;

  /* this makes the picture span the whole screen and shrinks and expands with screen */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;


  text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
  color: #ffffff;
  

}



.jumbotron-header{

  font-size: 70px;


}

.stop-by{

}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */








/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 4 CARDS %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.card{
  width: 18rem;
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
}

.container-fluid{
  padding: 25px;
}

.best-sellers{
  padding-bottom: 30px;
  text-decoration: underline;
}


 
/* THIS IS WHAT ADJUST THE SIZE OF THE WHOLE CARD */
.card{
  height: 450px;
  border: 1px solid rgb(0, 0, 0);
} 

/* THIS MAKES ALL THE TEXT AND IMAGES INSIDE THE CARD ALIGN */
.card-img-top{
  height:auto; 
  width: 100%;
}


.card:hover{
  height:auto; 
  width: 100%;
}
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */










/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> */
footer{
  margin-top: 50px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--> */










@media screen and (min-width: 1200px){
  /* ``````````````````````````````````````````` NAV ``````````````````````````````````````````` */
.nav-header-name a{
  font-size: 60px;
  color: #69DCE1;
}

header{
  font-size: 25px;
}
/* ````````````````````````````````````````````````````````````````````````````````````````````````` */
  

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ JUMBOTRON ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.jumbotron-header{

  font-size: 100px;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 3 COLUMNS !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.three-columns{
  padding: 0px 20px;

}

.three-columns-header{
  font-size: 70px;
}

.description{
  font-size: 30px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}